PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://user:pass@cluster0.d6z2i.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
# or use DB_USER + DB_PASS instead of MONGO_URI
# DB_USER=
# DB_PASS=
ACCESS_TOKEN_SECRET=your_jwt_secret_here
ADMIN_EMAILS=owner@example.com,admin@example.com
REVIEW_AUTO_APPROVE=true
